body {
  background-color: white;
  /* border: 3px solid;
  display: flow-root; */
}
h1 {
  color: black;
  font-size: 30px;
  text-align: center;
}
/* #p1 {
  color: red;
  font-size: 20px;
  margin: 20px;
}

#p2 {
  color: blue;
  font-size: 20px;
  margin: 20px;
}

#p3 {
  color: green;
  font-size: 20px;
  margin: 20px;
}

#p4 {
  color: yellow;
  font-size: 20px;
  margin: 20px;
} 


.odd {
    color: red;
    font-size: 20px;
    margin: 20px;
}
.even {
    color: green;
    font-size: 20px;
    margin: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 


h1 {
    /* border: solid white; 
    border: dashed white;  
    border: dotted 5px white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-shadow: 3px 3px 2px; 
    text-shadow: 3px 3px 2px red, -3px -3px 2px blue;
}


#box {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px red;
}



.box {
    width: 250px;
    height: 250px;
    background-color: tomato;
    border: 5px solid #ccc;

   
}

#box1 {
    background-color: lightskyblue;
    margin-top: 50px;
}
#box2 {
    background-color: lightskyblue;
    margin-top: 50px;
    margin-left: 50px;
} 

#img1 {
    float: right;
    margin-right: 20px;
}


#img2 {
    float: left;
    margin-right: 20px;
} 

positions

#box1 {
 width: 200px;
 height: 200px;
 background-color: lightblue;
 position: relative;
 top: -100px;
 left: -100px;
}  

#box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: fixed;
    top: 100px;
    left: 100px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    top: 50px;
    left: 50px;
}
#box3 {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: relative;
    top: 25px;
    left: 25px;
} 

#box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: fixed;
    top: 0px;
}  



#box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: sticky;
    top: 0px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: static;
    top: 50px;
    left: 50px;
} 

#container {
    border: 3px solid;
}

#container p{
    background-color: yellow;
} 

#container {
    border: 3px solid;
}

#container > p{
    background-color: yellow;
}


#container {
    border: 3px solid;
}

#container ~ p{
    background-color: yellow;
}


#container {
    border: 3px solid;
}

#container + p{
    background-color: yellow;
}   


a:link {
   color: red; 
}

a {
    color: red;
}

a:hover {
    color: lightblue;
    font-size: 1.1em;
}

a:active{
    color: blue;
    font-size: 1.1em;
}

a {
    color: red;
}

a:visited {
    color: lightcyan
}  

li:hover {
    background-color: yellow;
}

li:not(:hover) {
    background-color: grey;
} 


li:nth-child(4n) {
    background-color: yellow;
} 

#greet p {
    background-color: lightblue;
    padding: 10px;
    display: none;
} 


#greet:hover p {
    display: block;
} */

body {
    background-color: white;
}

#box {
  width: 250px;
  height: 250px;
  background-color: tomato;
  font-size: 4.5em;
  text-align: center;
  animation-name: slideLeft;
  /* animation-name: slideRight; */
  /* animation-name: slideUp; */
  /* animation-name: slideDown; */
  /* animation-name: rotateX; */
  /* animation-name: rotateY; */
  /* animation-name: rotateZ; */
  /* animation-name: grow; */
  /* animation-name: shrink; */
  /* animation-name: fade; */
  /* animation-name: colorChange; */
  /* animation-name: glow; */
  animation-duration: 2s;
  animation-iteration-count: 2; 
  animation-direction: reverse; 
  animation-play-state: paused; 
  animation-timing-function: steps(6);
}

img{
    animation-name: slideRight;
  /* animation-name: slideUp; */
  /* animation-name: slideDown; */
  /* animation-name: rotateX; */
  /* animation-name: rotateY; */
  /* animation-name: rotateZ; */
  /* animation-name: grow; */
  /* animation-name: shrink; */
  /* animation-name: fade; */
  /* animation-name: colorChange; */
  /* animation-name: glow; */
  animation-duration: 2s;
  animation-iteration-count: 2; 
  animation-direction: reverse; 
  animation-play-state: running; 
  animation-timing-function: steps(6);
}

/* #box:hover {
    animation-name: glow;
    animation-duration: 2s;
} */

@keyframes slideLeft {
  from {
    transform: translateX(400%);
  }
  /* 
   from{transform: translateX(100%)} */
}
@keyframes slideRight {
  to {
    transform: translateX(400%);
  }
  /* from{transform: translateX(100%)} */
}
@keyframes slideUp {
  from {
    transform: translateY(400%);
  }
  /* from{transform: translateX(100%)} */
}
@keyframes slideDown {
  to {
    transform: translateY(400%);
  }
}
@keyframes rotateX {
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes rotateY {
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotateZ {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(2, 2);
  }
}
@keyframes shrink {
  50% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes fade {
  50% {
    opacity: 0;
  }
}
@keyframes colorChange {
  0% {
    background-color: red;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: purple;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: lightgreen;
  }
  100% {
    background-color: indianred;
  }
}


@keyframes glow {
    50%{box-shadow: 0px 0px 50px black;}
}
